[user]
  name = Eric Matthys
  email = ericmatthys@gmail.com
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autosquash = true
[rerere]
  enabled = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = Kaleidoscope
[diff]
  tool = Kaleidoscope
[mergetool]
  prompt = false
[difftool]
  prompt = false
[core]
  editor = vim
  excludesfile = /Users/eric/.gitignore
